<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Tarimas</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilos.css') }}">
  
</head>

{% include "base.html" %}

<body class="bg-light">



  <div class="container development-message text-center">
    <div class="icon">🛠️</div>
    <h1 class="mb-4 text-center">Tarimas</h1>
    <h2>Funcionalidad TARIMAS en desarrollo</h2>
    <p>Estamos trabajando en esta sección para ti. ¡Vuelve pronto!</p>
  </div>

</body>
</html>
